body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid red;
}
#playground{
  	width:1040px;
  	height:620px;
  	border: 1px solid black;
  	line-height: 0;
 }
img{
	width: 20px;
	height: 20px;
}